<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/forgot_password.css" rel="stylesheet" type="text/css">
    <title>Forgot Password</title>
</head>
<body>
    
    <form action="/auth/forgotPassword" method="post">
        <h1>Forgot Password?</h1>
        <p>Enter the email address</p>
        <input type="email" required="true" placeholder="your email" id="email" name="email">
        <input type="submit" value="Reset Password">
    </form>

</body>
</html>
