<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/update_password.css" rel="stylesheet" type="text/css">
    <title>Update Password</title>
</head>
<body>
    <form action="/auth/resetPassword/<%= resetToken %>" method="post">
        <input type="password" required="true" placeholder="New password" id="newPassword" name="newPassword">
        <input type="submit" value="Reset Password">
    </form>
</body>
</html>