/* ResetPassword.css */

body {
    font-family: Arial, sans-serif;
    background-image: url('/images/update_pass.jpg'); /* Adjust the path based on your folder structure */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.reset-password-form {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%; /* Set a default width */
    max-width: 400px; /* Limit the maximum width */
    margin: auto; /* Center the form */
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

input[type="password"] {
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #ffffff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

/* Responsive Design */
@media (max-width: 600px) {
    .reset-password-form {
        width: 90%; /* Adjust the width for smaller screens */
    }
}
